fildset{
    border: 1px solid black;
}

table td, table td * {
    margin-top: 0px;
    margin-bottom: 0px;
}
table th, table th * {
    margin-top: 3px;
    margin-bottom: 2px;
}

.tableKids{
    border: 1px solid black ;
    border-collapse: collapse;
}
/* transition: property, duration, timing-function, delay */
h1{
    display: block;
    clear: both;
    transition: background 0.3s ease-in-out 0s;
}
h1:hover{
    background-color: gray;
} 
.imgAnim1{
    animation-duration: 5s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}
.imgAnim2{
    /*scale(x, y)*/
    transform: scale(1, 1.5);
    animation-name: slidein, spin;
    animation-duration: 2s, 5s;
    animation-iteration-count: 1,5;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        border-radius: 70px;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      /*rotate(angle)*/
      transform: rotate(90deg);
      border: 10px solid orange;
    }
    50% {
        margin-left: 25%;
        width: 1%;
        height: 1%;
        transform: rotate(45deg);
      }
  }
@keyframes spin {
    from {
      transform: rotate(0deg);
      border: 2px solid black;
    }
  
    to {
      transform: rotate(360deg);
      border: 2px solid black;
    }
    50% {
        border: 6px solid gray;
        transform: rotate(180deg);
      }
  }
@media screen and (max-width: 992px){
    fildset{
        border: 1px solid black;
        float: left;
    }
    
    table td, table td * {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    table th, table th * {
        margin-top: 3px;
        margin-bottom: 2px;
    }
    
    .tableKids{
        float: left;
        border: 1px solid black ;
        border-collapse: collapse;
    }
    table,img,map,form,fieldset,iframe,video,audio{
        float: left;
    }
    h1{
        display: block;
        clear: both;
        transition: background 0.3s ease-in-out 0s;
    }
    h1:hover{
        background-color: gray;
    }
    hr{
        clear: both;
    }
}