body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: ghostwhite;
  }

.containerMain{
  margin: 0 auto;
  width: 70%;
  background-color: #fff;
}

.nav-menu{
  position: fixed;
  z-index: 999999;
  width: 100%;
}

.navClass {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px;
  }

  .menu {
    display: none;
    flex-direction: column;
    background-color: #555;
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 1;
  }

  .menu a {
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .menu a:hover {
    background-color: #777;
  }

  #burger-checkbox {
    display: none;
  }

  #burger-icon {
    display: block;
    cursor: pointer;
  }

  #burger-icon::before {
    content: "\2630";
    font-size: 24px;
  }

  #burger-checkbox:checked + .menu {
    display: flex;
  }

  /* Media queries for different screen sizes */
  @media screen and (min-width: 600px) {
    #burger-checkbox {
      display: none;
    }

    #burger-icon {
      display: none;
    }

    .menu {
      display: flex;
      position: static;
      background-color: rgb(51, 51, 51)
    }
    .menu a {
        font-size: 36px;
      }

  }

  @media screen and (min-width: 900px) {
    .menu {
      flex-direction: row;
    }

    .menu a {
      margin-right: 10px;
      font-size: 22px;
    }
  }
  @media screen and (min-width: 1200px) {
    .menu a {
      font-size: 22px;
    }

  }
.checkbox:checked ~ .menu {
display: block;
}


.namediv{
    display: flex;
    align-items: center;
}

.siteName{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 36px;
    vertical-align: middle;
    padding-left: 10px;
    text-decoration: none; 
    color: inherit; 
    cursor: pointer;
}
a img {
    display: block; /* Убираем промежуток под изображением */
}

.marginDiv{
  background-color: #777;
  width: 100%;
  height: 100px;
  display: block;
}
